@using exam_hall_seating.ViewModels.ExamVM;
@model ArrangementViewModel


<div>
    <h4>Sınav Bilgileri</h4>
    <p><strong>Ders Adı:</strong> @Model.LectureName</p>
    <p><strong>Sınav Tarihi:</strong> @Model.Date.ToString("dd/MM/yyyy")</p>
    <p><strong>Başlangıç Saati:</strong> @($"{(int)(Model.StartTime.TotalHours):D2}:{Model.StartTime.Minutes:D2}")</p>
    <p><strong>Bitiş Saati:</strong> @($"{(int)(Model.EndTime.TotalHours):D2}:{Model.EndTime.Minutes:D2}")</p>
</div>
<hr />

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="LectureId" value="@Model.LectureId" />
    <input type="hidden" asp-for="LectureName" value="@Model.LectureName" />
    <input type="hidden" asp-for="Date" value="@Model.Date" />
    <input type="hidden" asp-for="StartTime" value="@Model.StartTime" />
    <input type="hidden" asp-for="EndTime" value="@Model.EndTime" />
    <input type="hidden" asp-for="Students" value="@Model.Students" />
    <div class="row">
        @*<label>Dosya seç</label>*@
        <input type="file" name="file" />
        <span class="error-message" style="color: #ff0000; font-size: 20px;">@ViewData["FileError"]</span>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-3">
            <input type="submit" asp-controller="Exam" asp-action="ArrangementWithExcel" class="btn btn-primary" value="Excel Dosyasını Oku" />
        </div>
    </div>
</form>

<table class="table">
    <thead>

        <tr>
            <th scope="col">#</th>
            <th scope="col">Numara</th>
            <th scope="col">Ad Soyad</th>
            @*<th scope="col">Mail</th>*@

        </tr>
    </thead>
    <tbody>
        @{
            var i = 1;
        }
        @foreach (var item in Model.Students)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@item.Number</td>
                <td>@item.FirstName @item.LastName</td>
                @*<td>@item.Mail</td>*@
            </tr>
            i++;
        }

    </tbody>
</table>